OBSERVABILITY_HOST=replace-with-hostname
OBSERVABILITY_ROLE=product
OBSERVABILITY_ENVIRONMENT=production
OBSERVABILITY_REGION=ru
ALLOY_CONFIG_FILE=product.alloy
PROMETHEUS_REMOTE_WRITE_URL=http://10.90.0.1:9090/api/v1/write
LOKI_WRITE_URL=http://10.90.0.1:3100/loki/api/v1/push
