GRAFANA_DOMAIN=grafana.myvatrushka.ru
GRAFANA_BIND_ADDRESS=0.0.0.0
ACME_EMAIL=vatrushka-notify@yandex.ru
OBSERVABILITY_PRIVATE_BIND_IP=10.90.0.1
PROMETHEUS_RETENTION_TIME=30d
PROMETHEUS_RETENTION_SIZE=55GB
LOKI_S3_ENDPOINT=https://s3.timeweb.cloud
LOKI_S3_REGION=ru-1
LOKI_S3_BUCKET=replace-with-dedicated-loki-bucket
GRAFANA_ADMIN_PASSWORD_FILE=./secrets/grafana_admin_password
ALERTMANAGER_WEBHOOK_URL_FILE=./secrets/alertmanager_webhook_url
LOKI_S3_CREDENTIALS_FILE=./secrets/loki_aws_credentials
